.uno{
	border:black 2px solid;
	background-color: #9999FF; 

}

.mensaje{
	border: yellow 2px solid;
	background-color: white;
	font-size: 2px solid;
	padding: 10px;
	margin: 10px;
}

.dos{
	background-color: #CE8845;
}

.comentario{
	border-bottom: 3px solid green;
	margin: 10px;
	font-size: 10px;
	color: white;
}